@model IEnumerable<Attendee>
@{
    ViewData["Title"] = "Attendee";
    var amountCheckedIn = Model.Where(x => (x.isChecked ?? false)).ToList().Count();
    var amountUnCheckIn = Model.Where(x => (x.isChecked ?? false) == false).ToList().Count();
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/attendee.css" />

<style>
  .form-control {
    font-size: 20px;
  }
</style>

<partial name="_TopMenu" />
<div class="text-center" style="margin-top: 10px">
    <span class="card-amount-value" style="background-color:#000;">Total: @Model.Count()</span>
    <span class="card-amount-value" style="background-color:rgb(47, 155, 52);">Check In: @amountCheckedIn</span>
    <span class="card-amount-value" style="background-color:rgb(184, 33, 33);">Uncheck In: @amountUnCheckIn</span>
</div>

<div class="container body-content">
    <div class="box-table">
        <div class="title">คนเข้าร่วมงาน</div>
            <div class="table-responsive filterable">
                <table class="custom-table table-striped table-bordered">
                    <thead>
                        <tr class="filters">
                            <th><input type="text" class="form-control" placeholder="Code"></th>
                            <th><input type="text" class="form-control" placeholder="Name TH"></th>
                            <th><input type="text" class="form-control" placeholder="Division"></th>
                            <th><input type="text" class="form-control" placeholder="Checked time"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) 
                        {
                            <tr>
                                <td>@item.code</td>
                                <td>@item.nameTH</td>
                                <td>@item.division</td>
                                <td>@item.checkedDateTime</td>
                                @{
                                    if (item.isChecked ?? false) {
                                        <td><a href="/attendee/unCheckin?code=@item.code">Uncheck-in</a></td>
                                    } else {
                                        <td><a href="/attendee/checkin?code=@item.code">Check-in</a></td>
                                    }
                                }
                            </tr>
                        }  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/attendee.js"></script>
}